<div class="container">
  <div class="rutaCorta">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Ruta más Corta</mat-card-title>
        <mat-card-subtitle>Costo: {{rutaCorta.cost}} km</mat-card-subtitle>
      </mat-card-header>
      <div id="mapRutaCorta" style="height: 500px;"></div>
    </mat-card>
  </div>
  <div class="expansion">
    <mat-card class="example-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Árbol de Expansión</mat-card-title>
        <mat-card-subtitle>Costo: {{arbolExpansion.cost}} km</mat-card-subtitle>
      </mat-card-header>
      <div id="mapArbol" style="height: 500px;"></div>
    </mat-card>
  </div>
</div>


