<div class="container">
<div id="map" style="height: 500px;"></div>
  <div>
    <mat-toolbar>
      <span>Personaliza tu viaje</span>
      <span class="spacer"></span>
    </mat-toolbar>
      <mat-form-field class="full-width">
      <mat-label for="sourceNode">Nodo de Origen</mat-label>
      <mat-select id="sourceNode" [(ngModel)]="sourceNode">
        @for (n of nodes(); track n){
          <mat-option [value]="n">{{ n.address }}</mat-option>
        }
      </mat-select>
      </mat-form-field>
      <mat-form-field class="full-width">
      <mat-label for="destinationNode">Nodo de Destino</mat-label>
      <mat-select id="destinationNode" [(ngModel)]="destinationNode">
        @for (n of nodes(); track n){
          <mat-option [value]="n">{{ n.address }}</mat-option>
        }
      </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="buscarPython()">Calcular Ruta Más Corta</button>

  </div>
</div>
<mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="parada1">
    <mat-header-cell *matHeaderCellDef> Nodo Origen </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.start.address}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="parada2">
    <mat-header-cell *matHeaderCellDef> Nodo Destino </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.end.address}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="distancia">
    <mat-header-cell *matHeaderCellDef> Distancia </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.distance}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

